/* Oxanium Font Import */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Oxanium:wght@400;700&display=swap");
body {
    
    grid-template-rows: 1fr 5fr;
    align-content: center;
    --ox: "Oxanium";
    --samgrad: rgb(49, 45, 233) linear-gradient(90deg, rgb(44, 47, 197) 0%, rgb(55, 58, 218) 50%, rgb(54, 105, 168) 100%);
    --samcurrent: rgb(247, 227, 48) linear-gradient(90deg, rgb(235, 231, 43) 0%, rgb(233, 212, 29) 50%, rgb(255, 227, 45) 100%);
    --samhistory: rgb(200, 25, 25) linear-gradient(90deg, rgb(200, 53, 53) 0%, rgb(200, 53, 53) 50%, rgb(200, 25, 25) 100%);
    
    /* color scheme */
    --color1: #f2dae8;
    --color2: #d699b5;
    --color3: #a3d2ed;
    --color4: #f5e68c;
    --color5: #51342e; 

    font-family: var(--ox);
    line-height: 1;
    background-color: var(--color1);
    margin-left: 10%;
    margin-right: 10%;
    
    
}

header {
    display: grid;
    --ox: "Oxanium";
   
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 1em;
    justify-self: center;
    align-self: center;
    width: 100%;

    
}

h1 {
    text-align: center;
    font-family: var(--ox);
    font-size: 2.5em;
    line-height: 1;
    color: var(--color5);
    padding: .3em;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0%;
    justify-content: center;
}

aside {
    
    font-size: 1.3em;
    
    height: 106%;
    
    
    
}

section {
    
    font-size: 1.3em;
    color: white;
}

h2 {
   
    margin: .3em;
    font-size: 1.3em;
    color: var(--color5);
    text-align: center;
}

input {
    display: inline-block;
    margin: .3em;
    line-height: 2em;
    border-radius: 4px;
    border: 1px solid black;
   
    text-align: left;
    padding-left: .5em;
    width: 100%;
    font-size: .8em;
}

button {
    margin: .3em;
    line-height: 2em;
    border: none;
    border-radius: 6px;
    background-color: var(--color2);
    color: var(--color3);
}

.material-icons {
    display: block;
    font-size: 1.3em;
    width: 100%;
}

.seperation {
    height: 0%;
    padding: .3em;
    margin: .3em;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.history {
    display: grid;
    grid-auto-rows: .00001fr;
    background: var(--color4);
    
    border-radius: 4px;
    margin: .3em;
    height: 98%;
    white-space: nowrap;
    overflow: hidden;
}

.searchHistory {
    margin: .4em;
    padding: .1em;
    font-size: 1em;
    
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    border: none;
    
}



h3 {
    display: grid;
    color: rgb(0, 0, 0);
   
    line-height: .8em;
    padding: .3em;
    margin: .3em;
    
}

.currentWeather {
    display: grid;
    margin: .4em;
    padding: 1em;
    border-radius: 4px;
    height: 44%;
    background: var(--color4);
    

}

.currentCard {
    color: rgb(0, 0, 0);
    padding: .2em;
    margin: .2em;
    
    font-size: .9em;
    
    border-radius: 4px;
    background-color: white;
    display: grid;
    justify-items: center;
    font-size: 1vw;
}
.forecast {
    display: grid;
    margin: .3em;
    padding: .9em;
    border-radius: 4px;
    height: 58%;
    background: var(--color4);
    
    
}
.forecastCard {
    display: grid;
    justify-items: center;
    
    color: rgb(0, 0, 0);
    text-align: center;
    
    border-radius: 4px;
    background-color: white;
    font-size: .9vw;
    

}

.forecastCard h3 {
    display: grid;
    white-space: nowrap;
    overflow: hidden;  
    color: rgb(0, 0, 0);
    padding: .5em;
    line-height: 1.2em;
   
}

.fiveDay {
    display: grid;
    color: var(--color5);
}

li {
    
    padding: .5%;
    list-style: none;
    line-height: 1.3em;
    
}

.cards {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .5fr;
    gap: 2%;
    padding-bottom: 1em;
    font-size: 90%;
    
    
}

.currentEl {
    display: grid;
    
}

.formEl {
    display: flex;
   padding: .1em;
   margin: .1em;
}


.searchHistory:hover{
    background-color: rgb(81, 81, 167);
    
}
.searchHistory:active{
    background-color: rgb(206, 206, 223);
    
}

button:hover{
    background-color: rgb(81, 81, 167);
}
button:active{
    background-color: rgb(206, 206, 223);
}