/* Oxanium Font Import */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Oxanium:wght@400;700&display=swap");
body {
    --ox: "Oxanium";
    --samgrad: rgb(6, 4, 121) linear-gradient(90deg, rgb(9, 11, 102) 0%, rgb(36, 38, 153) 50%, rgb(54, 105, 168) 100%);
    --samgray: rgb(126, 126, 126) linear-gradient(90deg, rgb(104, 104, 104) 0%, rgb(235, 235, 235) 50%, rgb(141, 141, 141) 100%);
    font-family: var(--ox);
    line-height: 1;
    text-shadow: rgb(4, 29, 31) 0px 2px 2px;
    background-color: rgb(255, 255, 255);
}

header {
    --ox: "Oxanium";
    background: var(--samgrad);
}

h1 {
    text-align: center;
    text-shadow: rgb(4, 29, 31) 0px 2px 2px;
    font-family: var(--ox);
    font-size: 2.5em;
    line-height: 1;
    color: white;
    padding: .3em;
}

main {
    display: grid;
    justify-items: center;
    align-items: left;
    grid-template-columns: 1fr 4fr;
    padding: 0%;
    margin: 0%;
}

aside {
    align-items: center;
    justify-items: center;
    font-size: 1.3em;
    color: white;
    text-align: left;
}

section {
    justify-self: left;
    grid-template-rows: 1fr 4fr;
    font-size: 1.3em;
    width: 90%;
    color: white;
}

h2 {
    text-shadow: rgb(185, 185, 185) 0px 2px 2px;
    margin: .3em;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

input {
    margin: .3em;
    line-height: 2em;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: rgb(138, 135, 135) 0px 2px 2px;
}

button {
    margin: .5em;
    padding: .2em;
    font-size: 1em;
    border-radius: 6px;
    background: var(--samgrad);
    color: ghostwhite;
    text-shadow: rgb(29, 29, 29) 0px 1px 2px;
    box-shadow: rgb(20, 19, 19) 0px 1px 2px;
}

.seperation {
    height: 0%;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.history {
    display: grid;
    grid-auto-rows: .00001fr;
}

.searchHistory {
    margin: .4em;
    padding: .2em;
    font-size: .8em;
    border-radius: 6px;
    text-shadow: rgb(153, 153, 153) 0px 3px 2px;
    color: rgb(0, 0, 0);
    background: none;
    background-color: rgb(177, 177, 177);
}

.currentWeather {
    margin: .3em;
    padding: .2em;
    border: 2px solid black;
    border-radius: 4px;
}

h3 {
    color: black;
    text-shadow: rgb(126, 128, 128) 0px 1px 2px;
    line-height: 1.4em;
}

.forcast {
    margin: .4em;
    padding: .5em;
    
}

.currentCard {
    background-color: white;
    color: black;
    padding: .2em;
    text-shadow: rgb(199, 199, 199) 0px 2px 2px;
    width: 17%;
}

.forcastCard {
    background: var(--samgrad);
    line-height: 1.8em;
    padding: 1.3em;
    margin: .6em;
    text-shadow: rgb(90, 86, 86) 0px 2px 2px;
    color: rgb(255, 255, 255);
    font-size: .8em;
    border-radius: 4px;
    box-shadow: rgb(173, 169, 169) 0px 3px 3px;
    
}

.forcastCard h3 {
    text-shadow: rgb(90, 86, 86) 0px 2px 2px;
    color: rgb(255, 255, 255);
}

li {
    padding: .2em;
    list-style: none;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
}